@import "desktop.css";


#subSection1{
  width: 300px;
  margin: 50px auto;
  display: block;

}

#subSection2{
  width: 300px;
  margin: 50px auto;
  display: block;

}

#subSection3{
  width: 300px;
  margin: 50px auto;
  display: block;

}

#subSection4{
  width: 300px;
  margin: 50px auto;
  display: block;

}

#subSection5{
  width: 300px;
  margin: 50px auto;
  display: block;

}
