@import "desktop.css";


header{
  width: 400px;
}

main{
  width: 400px;
}

footer{
  width: 440px;

}

nav{
  width: 350px;
}

nav ul{
  margin-left: -20px;
}

nav ul li{
  display: block;
  text-align: center;
}

#grid1{
  width: 380px;
  display: block;

}

#grid2{
  width: 380px;
  display: block;
}

#Hobbies{
  width: 380px;
  display: block;
}

#Hobbies img{
  width: 380px;
}

#grid3{
  width: 300px;
  height: auto;
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 20px;
}
#grid3 img{
 width: 80px;
 /* margin: top/bottom left/right */
 margin: 10px auto;
 display: block;
}

#grid4{
  width: 380px;
  display: block;

}
